<section class="songs-list">
    <!--ESTADOS, en blanco, error, loading, ideal -->
    <div class="ui-state empty">
        <p>No hay ninguna canción.</p>
    </div>

    <div class="ui-state error">
        <p>Se ha producido un error al cargar la canción.</p>
    </div>

    <div class="ui-state loading">
        <p>Cargando...</p>
    </div>

    <div class="ui-state ideal">
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
        <article class="song">
            <img src="https://image.freepik.com/free-icon/cd-rom_318-9291.jpg" alt="Artist - Song title" class="cover">
            <div class="artist">Artista name</div>
            <div class="title">Song title</div>
        </article>
    </div>
</section>