body {
    background: $color-the-light;
    font-family: $main-font-family;
    font-size: $font-size-base;
    color: $main-text-color;
    padding-top: 60px;
}

form {
    padding: 10px;
}

label, input, button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-size: $font-size-base;
    font-weight: bold;
    text-transform: uppercase;
}

input {
    margin: 5px 0 15px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-white-broken;
    font-size: $font-size-base;
    &:focus {
        outline-color: $color-sky-high;
    }
}

button {
    @extend input; //hereda todas las normas del input
    background-color: $color-the;
    color: $color-all-of-you;
    font-size: $font-size-base;
    font-weight: bold;
    transition: all 0.25s;
    &:active {
        background: lighten($color-the, 25%);
    }
}